// default theme
.App {
	background-color: rgba(19,19,19,1);
	// background: url('../img/purpPlants.jpg') no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	color: white;

	a {
		color: rgba(246,242,255,1);

		&:hover {
			color: blue;

		}
	}

	
}

