.ListItemList {
	background: $black1;
	max-width: 400px;
	margin: 0px auto;
	cursor: grab;
	@include no-highlight;

	p {
		font-size: 1.5rem;
		line-height: 2rem;
		padding: 0px 12px;
		border: 1px solid $clear1;
		color: rgba(252,252,252,0.8);
		transition: 0.15s color;

		&:hover {
			color: rgba(252,51,252,1);
			border-right:  32px solid purple; 
			border-left:  32px solid purple; 

		}

		
	}

	&:active {
		cursor: grabbing;
		transition: 0.5s border;

		p {
			border: 1px solid $brown2;

			
		}
	}
}