.MainMenu {
	width: 100%;
	border-top: 3px solid $brown2;
	text-align: center;
	max-height: 72px;

	.ContainMe {
		display: grid;
		grid-template-columns: 300px 1fr;
		width: 100%;
		max-width: $max-width;
		margin: 0px auto;
		border-bottom: 1px solid $brown1;

		a {
			text-decoration: none;
		}

		.Logo {
			width: 100%;

			h1 {
				padding: 0px 12px;
				font-size: 1.8rem;
				line-height: 2rem;
				color: $menu-font;
				text-shadow: 0px 0px 3px black;

				&:hover {
					animation: font-glow 2s infinite;
					animation-delay: 0.15s;
				}
			}
		}

		nav {
			display: flex;
			justify-content: space-evenly;
			line-height: 1.8rem;
			text-align: center;
			grid-gap: 0px 8px;

			a {
				width: 100%;
				margin: 0;
				cursor: pointer;
				transition: 0.15s line-height;
				transition: 0.15s font-size;
				border-top: 3px solid $clear1;
				border-bottom: 6px solid $clear1;
				color: $menu-font;
				font-size: 1.5rem;
				line-height: 69px;

				&:hover {
					text-shadow: 2px 2px 4px #000000;
					font-size: 1.75rem;
					font-weight: 600;
					animation: font-glow 3s infinite;
					animation-delay: 1s;
					border-top: 3px solid $brown2;
					border-bottom: 6px solid $brown1;

				}
			}
		}

		.Selected {
			text-shadow: 2px 2px 4px #000000;
			border-top: 3px solid $brown2;
			border-bottom: 6px solid $brown1;

		}

	}


	@include respond-to("xsmall") {
		nav {
			a{
				border: 1px purple solid;
				font-size: 0.2rem;

			}
			&:hover {
					text-shadow: 2px 2px 4px #000000;

					font-size: 0.75rem;


				}
		}
	}

}

@keyframes font-glow {
	0% { color:$menu-font; }
	50% { color:$menu-font-glow; }
	100% { color:$menu-font; }
}

