.Notifications {
	position: fixed;
	bottom: 0;
	width: 100%;
	color: white;
	text-align: center;

	.Display {
		background: rgba(192,192,219,0.2);
		backdrop-filter: blur(6px);
		border-top: 1px solid cyan;
		border-right: 1px solid cyan;
		border-left: 1px solid cyan;
		margin: 0px auto;
		padding: 9px;
		max-width: 800px;
		overflow-x: auto;
		display: flex;
		justify-content: space-evenly;

		h6, p {
			color: rgba(252,252,252,0.8);
			line-height: 1.25rem;
			font-size: 1.25rem;
			margin: 0;
			width: 100%;
			@include no-highlight;

			&:hover {
				color: rgba(252,252,252,1);

			}
		}

	}

}
