.List {
	display: grid;
	grid-template-columns: 1fr;
	margin: 64px auto 0px auto;
	text-align: center;

	.Add {
		display: flex;
		grid-gap: 12px;
		max-width: 400px;
		margin: 0px auto;
		
		input {
			width: 100%;
			line-height: 1.8rem;
		}

		button {
			max-width: 120px;
		}
	}

	.Display {
	}
}

