.Settings {
	@include no-highlight;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	color: $vapor-white;
	background: rgba(19,19,19,0.35);
	text-align: center;
	margin: 4rem auto 0px auto;
	max-width: 800px;
	box-shadow: 0px 0px 2px 1.25px black;
	backdrop-filter: blur(12px);
	transition: 0.22s box-shadow;  
	transition-timing-function:cubic-bezier(.98,1,.19,.99);
	&:hover {
		cursor: crosshair;


	} // Settings:hover

	.Theme {		
		width: 100%;
		max-width: 400px;

		.DisplayUnit {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			grid-gap: 6px;
			padding: 9px 3px;

			.Box {
				background: rgba(219,219,219,0.2); // thumbnail
				backdrop-filter: blur(32px);
				border: 1px solid $vapor-accent-opacity;
				transition: 0.2s filter;
				filter: blur(0.5px);

				&:hover {
					border: 1px solid $vapor-accent;

					filter: blur(0px);
				}

				&:active {

				}
			}

		}
	}

}

